{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <h2>Transaction History</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Type</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction['symbol'] }}</td>
                    <td>{{ transaction['shares'] }}</td>
                    <td>{{ transaction['price'] | usd }}</td>
                    <td>{{ "Buy" if transaction['transaction_type'] == 'buy' else "Sell" }}</td>
                    <td>{{ transaction['timestamp'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
