{% extends "layout.html" %}

{% block title %}
    Sell Stocks
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <label for="symbol" class="form-label">Select Stock to Sell:</label>
            <select class="form-select" id="symbol" name="symbol">
                {% for stock in portfolio %}
                    <option value="{{ stock['symbol'] }}">{{ stock['name'] }} ({{ stock['symbol'] }})</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Number of Shares" type="number" min="1">
        </div>
        <button class="btn btn-primary" type="submit">Sell Stocks</button>
    </form>
{% endblock %}
